body{
  margin:0;
  background-image: url(./image/bgimge.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
#clock-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}
#clock{
  font-size: 6.5rem;
  font-family: monospace;
  font-weight:bold;
  text-align: center;
  color:white;
  backdrop-filter: blur(15px);
  background-color: hsla(0, 0%, 100%, 0.1);
  border: 2px solid transparent; 
  animation: pulseBorder 1s ease-in-out infinite alternate; 
}
@keyframes pulseBorder {
  from {
    border-color: transparent; 
  }
  to {
    border-color: red; 
  }
}
